/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color:var(--color-text);
	background-color:var(--color-background);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}



header ul li:first-of-type img{
	width: 7em;
}

header ul li img{
	width: 3em;
}

header{
	background-color: #111;
	color: white;
	padding: 1em;
} 

header ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

header ul a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

main{
	margin: 0;
}

main img{
	width: 4em;
}

/* cartoon cirkels carousel */
main section ul{
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;
}

main section ul li a img{
	margin: 1em;
}

main > ul{
	list-style: none;
	padding: 1em;
	background-color:#009BDF;
}

main > ul li{
	position: relative;
	background-color:#00638E;
	padding: 0.5em;
	width: 25%;
}

main > ul li a{
	display: flex;
	background-color:white;
	font-weight: bold;
	padding: 0.2em;
	margin: 0.2em;
	border-radius: 5em;

}

footer{
	background-color: #111;
	color: white;
}

footer img{
	width: 1em;
}