main{
    display: grid;
}

ul{
	padding: 0;
}

section:first-of-type h2{
	position: absolute;
	left: -200%;
}

section > h2{
	position: absolute;
	left: -200%;
}

main section > h2{
	margin: 1em;
}

/*eerste spel carousel*/

main section:first-of-type ul{
	grid-column-start: 1;
	grid-column-end: -1;

    display: flex;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;
}

main section:nth-of-type(2){
	grid-column-start: 1;
	grid-column-end: -1;

    display: flex;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;
    background-color: white;
}

main section:nth-of-type(2) ul li{
	position: relative;
	margin: 1em;
}

main section:nth-of-type(2) ul li img{
    width: 22em;
	border-radius: 1em;
	margin: 0;	
}

/*tekst in image section 2*/
main section:nth-of-type(2) a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

main section:nth-of-type(2) ul li a h3{
	font-size: 1.2em;
	color: white;
	order: 2;

	position: absolute;
	padding: .5em;
	padding-left: 1em;
	padding-top: 2em;
	
    bottom: 0;
    right: 0;
	left: 0;

	background: linear-gradient(to top, rgba(0, 0, 0, 1.5), transparent);
	border-radius: 0 0 .8em .8em;
}

main section:nth-of-type(2) a h4{
	font-size: .8em;
	color: white;

	position: absolute;
	margin-bottom: .5em;
	padding: .5em;
	padding-left: 1.5em;
	
    bottom: 1.8em;
    right: 0;
	left: 0;
}

/* gradient effect*/

main section:nth-of-type(2) a *:not(img){
	opacity: 0;
}

main section:nth-of-type(2) ul li:hover :first-of-type{
	opacity: 1;
	transition: ease .2s;
}

/*tweede spel carousel*/

main section:nth-of-type(3){
    background-color:#009BDF;
    text-decoration: none;
}

/*button en icons section 3*/

main section:nth-of-type(3) > a{
	display: flex;
}

main section:nth-of-type(3) > a p{
	margin: auto;
}

main section:nth-of-type(3) > a img:first-of-type{
	margin: auto;
}

main section:nth-of-type(3) > a img:nth-of-type(2){
	width: 1.5em;
	height: 1.5em;
	margin: auto;
}

main section:nth-of-type(3) h2{
	margin: auto auto auto .3em ;
	font-size: calc(1em + 1vw);
}

/*cirkel met icoon secion 3*/

main section:nth-of-type(3) > li:first-of-type{
	display: flex;
}

main section:nth-of-type(3) > li:first-of-type a{
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: relative;

	top: 0;
	left: 0;
	margin: 1em;
}

main section:nth-of-type(3) > li:first-of-type a img{
	width: 2.5em;
}

/*Uitgelichte spelletjes*/

/*section 3 image styling*/

main section:nth-of-type(3) ul > li a img{
    width: 19em;
	border-radius: 1em 1em 0 0;
}

main section:nth-of-type(3) ul > li a:first-of-type img:hover{
	width: 20em;
	transition-duration: .2s, .2s
}

main section:nth-of-type(3) ul{
	gap: 1em;
	margin: 1em;
}

main section:nth-of-type(3) ul li:nth-of-type(1n + 1){
	position: relative;
}

main section:nth-of-type(3) ul li > :nth-child(1n + 2){
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: absolute;

	top: 7.9em;
	right: 0;
	margin: 1em;
}

main section:nth-of-type(3) li a:nth-of-type(2) img{
	width: 2.2em;
}

/*volgorde en styling h3 en h4 section 3*/

main section:nth-of-type(3) ul li a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main section:nth-of-type(3) ul li a h3{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	order: 2;

	padding: .5em;
	padding-left: 1em;
}

main section:nth-of-type(3) ul h4{
	color: #305692;
	font-weight: bold;
	font-size: .8em;

	padding: 0.5em;
	padding-bottom: 0;
	padding-left: 1.5em;

	margin-top: .5em;
}

main section:first-of-type ul li a img{
    width:4.5em;
}

/*witte blok onder courasel plaatjes*/

main section:nth-of-type(3) ul li{
	background-color: white;
	border-radius: 1em 1em 1em 1em;
}

main section:nth-of-type(3){
	display: grid;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;;
}

/*tweede spel carousel button*/

main section:nth-of-type(2n + 3) > a:first-of-type{
	padding: .7em;
	border-radius: .4em;
	margin: 1em auto 1em auto;
	width: 50%;
	background-color: #000000;
	color: white;
	appearance: none;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(.5em + 1vw);
	font-weight: bolder;
	text-align: center;
}

main section:nth-of-type(2n + 3) > a:first-of-type:hover{
	padding: 1em;
}

/*Klimaatkampioenen link*/

main section:nth-of-type(4){
	display: flex;
	background-image: url("../images2/pattern_01.0a916b46.svg");
	background-color: #342E34;
}

main section:nth-of-type(4) ul{
	margin: 1.5em;
	margin-bottom: .5em;
	margin-top: .5em;
	flex-direction: column;
	gap: 0;
}

/*section 4 button styling*/

main section:nth-of-type(4) ul li:nth-of-type(3) a{
	display: flex;
}

main section:nth-of-type(4) ul li:nth-of-type(3) a p{
	margin: auto;
	font-size: calc(1em + .5vw);
	white-space: nowrap;
}

main section:nth-of-type(4) ul li:nth-of-type(3) a img{
	width: 2em;
	height: 2em;
	margin: auto 1em auto 1em;
}

/*courasel section 4 images*/
main section:nth-of-type(4) img{
	width: 40%;
	border-radius: .5em 0 0 .5em;
}

/*Klimaatkampioenen link responsive*/

main section:nth-of-type(4) img{
	width: 100%;
	border-radius: .5em .5em 0 0;
	
}

main section:nth-of-type(4) ul li:first-of-type{
	grid-row: 1/3 ;
}

main section:nth-of-type(4) ul li:last-of-type{
	grid-column: 2/3;
}


main section:nth-of-type(4) ul li{
	display: inline;
	flex-flow: row;
	flex-wrap: wrap;
	background-color: white;
}

main section:nth-of-type(4) ul li:first-of-type{
	border-radius: .5em .5em 0 0;
}

main section:nth-of-type(4) ul li:last-of-type{
	border-radius: 0 0 .5em .5em;
}

main section:nth-of-type(4) ul li *:not(img){
	margin-inline: 1rem;
}

main section:nth-of-type(4) ul li h2{
	font-size: 1em;
	padding: 0;
}

main section:nth-of-type(4) ul li img{
	float: left;
	margin: 0;
	margin-bottom: 1em;
}

/*Klimaatkampioenen button*/

main section:nth-of-type(4) ul li a{
	display: block;
	text-align: center;
	padding: .7em;
	border-radius: .4em;
	background-color: #000000;
	color: white;
	font-family: 'Montserrat', sans-serif;

	font-size: 1.2em;
	font-weight: bolder;
	text-decoration: none;
	margin-block: 1rem;
}

main section:nth-of-type(4) ul li a:hover{
	padding: 1em;
}

/*Topvideo's*/

/*button en icons section 5*/

main section:nth-of-type(5) > a{
	display: flex;
}

main section:nth-of-type(5) > a p{
	margin: auto;
	font-size: calc(.5em + 1vw);
}

main section:nth-of-type(5) > a img:first-of-type{
	margin: auto;
}

main section:nth-of-type(5) > a img:nth-of-type(2){
	width: 1.5em;
	height: 1.5em;
	margin: auto;
}

main section:nth-of-type(5) h2{
	margin: auto auto auto .3em ;
	font-size: 1.2em;
}

/*cirkel met icoon secion 5*/

main section:nth-of-type(5) > li:first-of-type{
	display: flex;
}

main section:nth-of-type(5) > li:first-of-type a{
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: ab;

	top: 0;
	left: 0;
	margin: 1em;
}

main section:nth-of-type(5) > li:first-of-type a img{
	width: 1.5em;
	margin: auto auto auto .3em;
}

main section:nth-of-type(5) ul > li a:first-of-type img:hover{
	width: 20em;
	transition-duration: .2s, .2s
}

/*meerdere icoon circles section 5*/
main section:nth-of-type(5) ul li:nth-of-type(1n + 1){
	position: relative;
}

main section:nth-of-type(5) ul li > :nth-child(1n + 2){
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: absolute;

	top: 7.9em;
	right: 0;
	margin: 1em;
}

main section:nth-of-type(5) li a:nth-of-type(2) img{
	width: 1.2em;
	margin: auto auto auto .3em;
	border-radius: 0 0 0 0;
}

/*section 5 h2*/

main section:nth-of-type(5) h2{
	margin: auto auto auto .3em;
    font-size: calc(1em + 1vw);
}

main section:nth-of-type(5){
    background-color:#FFF15C;
    text-decoration: none;
}

main section:nth-of-type(5) ul li a img{
    width: 22em;
	border-radius: 1em;
}

main section:first-of-type ul li a img{
    width: 4.5em;
}

main section:nth-of-type(5){
	display: grid;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;;
}

/*volgorde en styling h3 en h4 section 5*/

main section:nth-of-type(5) ul{
	margin: 1em;
	gap: 2em;
}

main section:nth-of-type(5) ul li a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main section:nth-of-type(5) ul li a h3{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	order: 2;

	padding: .5em;
	padding-left: 1em;
}

main section:nth-of-type(5) ul h4{
	color: #305692;
	font-weight: bold;
	font-size: .8em;

	padding: .5em;
	padding-bottom: 0;
	padding-left: 1.5em;

	margin-top: .5em;
}

/*section 5 image borders*/
main section:nth-of-type(5) ul li a img{
    width: 19em;
	border-radius: 1em 1em 0 0;
}

/*witte blok onder courasel plaatjes section 5*/

main section:nth-of-type(5) ul li{
	background-color: white;
	border-radius: 1em 1em 1em 1em;
}

/*Quizmaster courasel*/

/*cirkel icoon section 6*/

main section:nth-of-type(6) > li{
	display: flex;
	flex-direction: row;
}

main section:nth-of-type(6) > li:first-of-type a{
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: ab;

	top: 0;
	left: 0;
	margin: 1em;
}

main section:nth-of-type(6) > li:first-of-type img{
	width: 2.1em;
	margin: auto;
}

/*meerdere icoon circles section 5*/
main section:nth-of-type(6) ul li:nth-of-type(1n + 1){
	position: relative;
}

main section:nth-of-type(6) ul li > :nth-child(1n + 2){
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: absolute;

	top: 7.9em;
	right: 0;
	margin: 1em;
}

main section:nth-of-type(6) li a:nth-of-type(2) img{
	width: 1.5em;
	margin: auto;
	border-radius: 0 0 0 0;
}


/*button en icons section 6*/

main section:nth-of-type(6) > a{
	display: flex;
}

main section:nth-of-type(6) > a p{
	margin: auto;
	font-size: calc(.5em + 1vw);
}

main section:nth-of-type(6) > a img:first-of-type{
	width: 2em;
	margin: auto;
	border-radius: 0 0 0 0;
}

main section:nth-of-type(6) > a img:nth-of-type(2){
	width: 1.5em;
	height: 1.5em;
	margin: auto;
}

main section:nth-of-type(6) h2{
	margin: auto auto auto .3em ;
	font-size: calc(1em + 1vw);
}

/*section 6 h2*/

main section:nth-of-type(6) h2{
	margin-left: 1em;
}

main section:nth-of-type(6){
    background-color:white;
    text-decoration: none;
}

main section:nth-of-type(6) ul > li img{
    width: 22em;
	border-radius: 1em;
}

main section:nth-of-type(6) ul > li a:first-of-type img:hover{
	width: 20em;
	transition-duration: .2s, .2s
}

main section:first-of-type ul li a img{
    width:4.5em;
}

main section:nth-of-type(6){
	display: grid;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;;
}

/*roze button*/

main section:nth-of-type(6) > a:first-of-type{
	padding: .7em;
	border-radius: .4em;
	margin: 1em auto 1em auto;
	width: 50%;

	background-color: #ED0080;
	border-color: #ED0080;
	border-style: solid;
	color: white;

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
}

main section:nth-of-type(6) > a:first-of-type:hover{
	padding: 1em;
}

/*quizmaster section*/

/*volgorde en styling h3 en h4 section 6*/

main section:nth-of-type(6) ul{
	margin: 1em;
	gap: 2em;
}

main section:nth-of-type(6) ul li{
	box-shadow: .2em .2em .2em .2em rgba(81, 78, 78, 0.073);
}

main section:nth-of-type(6) ul li a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main section:nth-of-type(6) ul li a h3{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	order: 2;

	padding: 0.5em;
	padding-left: 1em;
}

main section:nth-of-type(6) ul h4{
	color: #305692;
	font-weight: bold;
	font-size: .8em;

	padding: 0.5em;
	padding-bottom: 0;
	padding-left: 1.5em;

	margin-top: .5em;
}

/*section 6 image borders*/
main section:nth-of-type(6) ul li a img{
    width: 19em;
	border-radius: 1em 1em 0 0;
}

/*witte blok onder courasel plaatjes section 6*/

main section:nth-of-type(6) ul li{
	background-color: white;
	border-radius: 1em 1em 1em 1em;
}

/*CN gamebox link*/

main section:nth-of-type(7){
	display: flex;
	background-image: url("../images2/pattern_01.0a916b46.svg");
	background-color: #342E34;
}

main section:nth-of-type(7) ul{
	margin: 1.5em;
	margin-bottom: .5em;
	margin-top: .5em;
	flex-direction: column;
	gap: 0;
}

main section:nth-of-type(7) img{
	width: 40%;
	border-radius: .5em 0em 0em .5em;
}

/*CN gamebox link responsive*/

main section:nth-of-type(7) img{
	width: 100%;
	border-radius: .5em .5em 0em 0em;
}

main section:nth-of-type(7) ul li:first-of-type{
	grid-row: 1/3 ;
}

main section:nth-of-type(7) ul li:last-of-type{
	grid-column: 2/3;
}

main section:nth-of-type(7) ul li{
	display: inline;
	flex-flow: row;
	flex-wrap: wrap;
	background-color: white;
}

main section:nth-of-type(7) ul li:first-of-type{
	border-radius: .5em .5em 0 0;
}

main section:nth-of-type(7) ul li:last-of-type{
	border-radius: 0 0 .5em .5em;
}

main section:nth-of-type(7) ul li *:not(img){
	margin-inline: 1rem;
}

main section:nth-of-type(7) ul li h2{
	font-size: 1em;
	padding: 0;
}

main section:nth-of-type(7) ul li img{
	float: left;
	margin: 0;
	margin-bottom: 1rem;
}

/*CN gamebox button*/

main section:nth-of-type(7) ul li a{
	display: block;
	text-align: center;
	padding: .7em;
	border-radius: .4em;
	background-color: #000000;
	color: white;
	font-family: 'Montserrat', sans-serif;

	font-size: 1.2em;
	font-weight: bolder;
	text-decoration: none;
	margin-block: 1rem;
}

main section:nth-of-type(7) ul li a:hover{
	padding: 1em;
}

/*section 7 button icons styling*/

main section:nth-of-type(7) ul li:nth-of-type(3) a{
	display: flex;
}

main section:nth-of-type(7) ul li:nth-of-type(3) a p{
	margin: auto;
	font-size: calc(1em + 1vw);
}

main section:nth-of-type(7) ul li:nth-of-type(3) a img{
	width: 2em;
	height: 2em;
	margin: auto 1em auto 1em;
}

/*Babyberen courasel*/

/*button en icons section 8*/

main section:nth-of-type(8) > a{
	display: flex;
	position: relative;
}

main section:nth-of-type(8) > a p{
	margin: auto;
	padding: .9em;
	font-size: calc(.5em + 1vw);
}

/*grizz de beer section 8 knop*/
main section:nth-of-type(8) > a img:first-of-type{
	position: absolute;
	margin: auto auto auto .5em;
	width: 5em;
	bottom: 0;
}

main section:nth-of-type(8) > a img:nth-of-type(2){
	width: 1.5em;
	height: 1.5em;
	margin: auto 1em;
}

/*cirkel met icoon section 8*/

main section:nth-of-type(8) > li:first-of-type{
	display: flex;
}

main section:nth-of-type(8) > li:first-of-type a{
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: #0B6BBF;
	border-radius: 50%;
	border-color: white;
	border-style: solid;
	position: relative;

	top: 0em;
	left: 0em;
	margin: 1em;
}

main section:nth-of-type(8) > li:first-of-type a img{
	width: 3.2em;
	border-radius: 50%;
}

main section:nth-of-type(8) ul > li a:first-of-type img:hover{
	width: 20em;
	transition-duration: .2s, .2s
}

/*meerdere icoon circles section 8*/
main section:nth-of-type(8) ul li:nth-of-type(1n + 1){
	position: relative;
}

main section:nth-of-type(8) ul li > :nth-child(1n + 2){
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: absolute;

	top: 7.9em;
	right: 0em;
	margin: 1em;
}

main section:nth-of-type(8) ul > li:first-of-type a:nth-of-type(2) img{
	width: 2em;
	margin: auto;
	border-radius: 0 0 0 0;
}

main section:nth-of-type(8) ul > li:nth-of-type(2) a:nth-of-type(2) img{
	width: 1.7em;
	margin: auto;
	border-radius: 0 0 0 0;
}

main section:nth-of-type(8) ul > li:nth-of-type(3) a:nth-of-type(2) img{
	width: 1.5em;
	margin: auto auto auto 0.3em;
	border-radius: 0 0 0 0;
}

/*section 8 h2*/

main section:nth-of-type(8) h2{
	margin: auto auto auto 1em;
	font-size: calc(1em + 1vw);
}

main section:nth-of-type(8){
	background-image: url("../images2/courasel5/webabybears-background-tile.aa843e2c.aa843e2c.jfif");
    text-decoration: none;
}

main section:nth-of-type(8) ul > li a img{
    width: 22em;
	border-radius: 1em;
}

main section:first-of-type ul li a img{
    width:4.5em;
}

main section:nth-of-type(8){
	display: grid;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;
}

/*blauwe button*/

main section:nth-of-type(8) > a:first-of-type{
	padding: 0;
	border-radius: .4em;
	margin: 1em auto 1em auto;
	width: 50%;

	background-color: #0B6BBF;
	border:none;
	color: white;

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
}

main section:nth-of-type(8) > a:first-of-type:hover{
	padding: .5em;
}

main section:nth-of-type(8) > a img:first-of-type{
	position: absolute;
	margin: auto auto auto .5em;
	width: 4em;
	bottom: 0;
	display: none;
}

/*volgorde en styling h3 en h4 section 8*/

main section:nth-of-type(8) ul{
	margin: 1em;
	gap: 2em;
}

main section:nth-of-type(8) ul li a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main section:nth-of-type(8) ul li a h3{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	order: 2;

	padding: 0.5em;
	padding-left: 1em;
}

main section:nth-of-type(8) ul h4{
	color: #305692;
	font-weight: bold;
	font-size: .8em;

	padding: 0.5em;
	padding-bottom: 0;
	padding-left: 1.5em;

	margin-top: .5em;
}

/*section 8 image borders*/
main section:nth-of-type(8) ul li a img{
    width: 19em;
	border-radius: 1em 1em 0 0;
}

/*witte blok onder courasel plaatjes section 8*/

main section:nth-of-type(8) ul li{
	background-color: white;
	border-radius: 1em 1em 1em 1em;
}

/*Gumball courasel*/

/*cirkel button section 9*/

main section:nth-of-type(9) > li:first-of-type{
	display: flex;
}

main section:nth-of-type(9) > li:first-of-type a{
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: #E24E9B;
	border-radius: 50%;
	border-color: white;
	border-style: solid;
	position: relative;

	top: 0em;
	left: 0em;
	margin: 1em;
}

main section:nth-of-type(9) > li:first-of-type a img{
	width: 3.2em;
	border-radius: 50%;
}

main section:nth-of-type(9) ul > li a:first-of-type img:hover{
	width: 20em;
	transition-duration: .2s, .2s
}

/*meerdere icoon circles section 8*/
main section:nth-of-type(9) ul li:nth-of-type(1n + 1){
	position: relative;
}

main section:nth-of-type(9) ul li > :nth-child(1n + 2){
	display: grid;
	place-content: center;

	height: 3.5em;
	width: 3.5em;
	
	background: black;
	border-radius: 50%;
	border: none;
	position: absolute;

	top: 7.9em;
	right: 0em;
	margin: 1em;
}

main section:nth-of-type(9) ul > li a:nth-of-type(2) img{
	width: 2em;
	margin: auto;
	border-radius: 0 0 0 0;
}

/*button en icons section 9*/

main section:nth-of-type(9) > a{
	display: flex;
	position: relative;
}

main section:nth-of-type(9) > a p{
	margin: auto;
	padding: .1em;
	font-size: .7em;
}

/*gumball section 9 knop*/
main section:nth-of-type(9) > a img:first-of-type{
	position: absolute;
	margin: auto auto auto .5em;
	width: 4em;
	bottom: 0;
	display: none;
}

main section:nth-of-type(9) > a img:nth-of-type(2){
	width: 1.5em;
	height: 1.5em;
	margin: auto 1em;
}

/*volgorde en styling h3 en h4 section 9*/

main section:nth-of-type(9) ul{
	margin: 1em;
	gap: 2em;
}

main section:nth-of-type(9) ul li a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main section:nth-of-type(9) ul li a h3{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	order: 2;

	padding: 0.5em;
	padding-left: 1em;
}

main section:nth-of-type(9) ul h4{
	color: #305692;
	font-weight: bold;
	font-size: .8em;

	padding: 0.5em;
	padding-bottom: 0;
	padding-left: 1.5em;

	margin-top: .5em;
}

/*section 5 image borders*/
main section:nth-of-type(9) ul li a img{
    width: 19em;
	border-radius: 1em 1em 0 0;
}

/*witte blok onder courasel plaatjes section 9*/

main section:nth-of-type(9) ul li{
	background-color: white;
	border-radius: 1em 1em 1em 1em;
}

/* h2 Section 9*/

main section:nth-of-type(9) h2{
	margin: auto;
	font-size: calc(1em + 1vw);
}

main section:nth-of-type(9){
	background-image: url("../images2/courasel6/gumball-background-min.jpg");
    text-decoration: none;
}

main section:nth-of-type(9) img{
    width: 22em;
	border-radius: 1em;
}

main section:first-of-type ul li a img{
    width:4.5em;
}

main section:nth-of-type(9){
	display: grid;
	flex-wrap: nowrap;
	overflow: auto;	
	list-style: none;;
}

/*lichtroze button*/

main section:nth-of-type(9) > a:first-of-type{
	padding: .7em;
	border-radius: .4em;
	margin: 1em auto 1em auto;
	width: 50%;

	background-color: #E24E9B;
	border-color: #E24E9B;
	border-style: solid;
	color: white;

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
}

main section:nth-of-type(9) button:first-of-type img{
	width: 15%;
}

/*voedselgevecht link*/

main section:nth-of-type(10){
	display: flex;
	background-image: url("../images2/pattern_01.0a916b46.svg");
	background-color: #342E34;
}

main section:nth-of-type(10) ul{
	margin: 1.5em;
	margin-bottom: .5em;
	margin-top: .5em;
	flex-direction: column;
	gap:0;
}

main section:nth-of-type(10) img{
	width: 40%;
	border-radius: .5em 0em 0em .5em;
}

/*voedselgevecht link responsive*/

main section:nth-of-type(10) img{
	width: 100%;
	border-radius: .5em .5em 0em 0em;
	
}

main section:nth-of-type(10) ul li:first-of-type{
	grid-row: 1/3 ;
}

main section:nth-of-type(10) ul li:last-of-type{
	grid-column: 2/3;
}


main section:nth-of-type(10) ul li{
	display: inline;
	flex-flow: row;
	flex-wrap: wrap;
	background-color: white;
}

main section:nth-of-type(10) ul li:first-of-type{
	border-radius: .5em .5em 0 0;
}

main section:nth-of-type(10) ul li:last-of-type{
	border-radius: 0 0 .5em .5em;
}

main section:nth-of-type(10) ul li *:not(img){
	margin-inline: 1rem;
}

main section:nth-of-type(10) ul li h2{
	font-size: 1em;
	padding: 0;
}

main section:nth-of-type(10) ul li img{
	float: left;
	margin: 0;
	margin-bottom: 1rem;
}

/*voedselgevecht button*/

main section:nth-of-type(10) ul li a{
	display: block;
	text-align: center;
	padding: .7em;
	border-radius: .4em;
	background-color: #000000;
	color: white;
	font-family: 'Montserrat', sans-serif;

	font-size: 1.2em;
	font-weight: bolder;
	text-decoration: none;
	margin-block: 1rem;
}

main section:nth-of-type(10) ul li a:hover{
	padding: 1em;
}

/*section 10 button styling*/

main section:nth-of-type(10) ul li:nth-of-type(3) a{
	display: flex;
}

main section:nth-of-type(10) ul li:nth-of-type(3) a p{
	margin: auto;
	font-size: calc(1em + 1vw);
}

main section:nth-of-type(10) ul li:nth-of-type(3) a img{
	width: 2em;
	height: 2em;
	margin: auto 1em auto 1em;
}


@media only screen and (min-width: 640px){

	/*klimaatkampioenen section*/
	main section:nth-of-type(4) ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-of-type(4) ul li{
		border-radius: 0 .5em 0 0;
	}

	main section:nth-of-type(4) ul li img{
		display: block;
		height: 100%;
		object-fit: cover;
		border-radius: .5em 0em 0em .5em;
	}
	

	main section:nth-of-type(4) ul li:first-of-type {
		border-radius: .5em 0 0 .5em;
	}

	main section:nth-of-type(4) ul li:last-of-type{
		border-radius: 0 0 .5em 0;
	}

	/*CN gamebox section*/
	main section:nth-of-type(7) ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-of-type(7) ul li{
		border-radius: 0 .5em 0 0;
	}

	main section:nth-of-type(7) ul li img{
		display: block;
		height: 100%;
		object-fit: cover;
		border-radius: .5em 0em 0em .5em;
	}

	main section:nth-of-type(7) ul li:first-of-type {
		border-radius: .5em 0 0 .5em;
	}

	main section:nth-of-type(7) ul li:last-of-type{
		border-radius: 0 0 .5em 0;
	}

	/*Best of Gumball section*/
	main section:nth-of-type(10) ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-of-type(10) ul li{
		border-radius: 0 .5em 0 0;
	}

	main section:nth-of-type(10) ul li img{
		display: block;
		height: 100%;
		object-fit: cover;
		border-radius: .5em 0em 0em .5em;
	}

	main section:nth-of-type(10) ul li:first-of-type {
		border-radius: .5em 0 0 .5em;
	}

	main section:nth-of-type(10) ul li:last-of-type{
		border-radius: 0 0 .5em 0;
	}

}

@media only screen and (min-width: 580px){

	/*section 9 plaatje op button styling*/
	main section:nth-of-type(9) > a img:first-of-type{
		width: 6em;
		display: block;
	}

	main section:nth-of-type(9) > a p{
		margin-left: 11em;
		margin: auto auto auto 6em ;
		padding: .1em;
		font-size: calc(.5em + 1vw);
	}
	

	main section:nth-of-type(9) > a img:first-of-type{
		position: absolute;
		margin: auto auto auto .5em;
		width: 4em;
		bottom: 0;
	}

	/*section 8 plaatje op button styling*/

	main section:nth-of-type(8) > a img:first-of-type{
		width: 6em;
		display: block;
	}

	main section:nth-of-type(8) > a p{
		margin-left: 11em;
		margin: auto auto auto 6em ;
		padding: .1em;
		font-size: calc(.5em + 1vw);
	}

	main section:nth-of-type(8) > a img:first-of-type {
    position: absolute;
    margin: auto auto auto 0.5em;
    width: 4em;
    bottom: 0;
	}
}
	

@media only screen and (min-width: 1080px){
/*section 8 plaatje op button styling*/

	main section:nth-of-type(8) > a img:first-of-type{
		width: 6em;
	}

	main section:nth-of-type(8) > a p{
		margin-left: 11em;
		margin: auto auto auto 6em ;
		padding: .1em;
		font-size: calc(.5em + 1vw);
	}

	main section:nth-of-type(9) > a img:first-of-type{
		width: 7em;
	}

	main section:nth-of-type(9) > a p{
		margin-left: 11em;
		margin: auto auto auto 6em ;
		padding: .1em;
		font-size: calc(.5em + 1vw);
	}

	/*we bare bears section*/
	main section:nth-of-type(8) ul{
		margin: 1em;
		gap: 2em;
		justify-content: center;
	}
}