/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

#wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	overflow: auto;	
}

#wrapper li{
	margin: 1em;
	list-style: none;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

img{
	width: 50px;
}

#cirkel-carousel{
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;	
}

#cirkel-carousel img{
	margin: 1em;
}